:root {
    --border-color: #ccc;
    --sidebar-header-color: rgb(235, 235, 235);
    --blue-color: #1d00ee;
    --header-admin-color: aquamarine;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

.row {
    display: grid;
    width: 100%;
}

.column-3-1 {
    grid-template-columns: 3fr 1fr;
    column-gap: 12px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    font-size: 30px;
    line-height: 60px;
    background-color: aqua;
    padding-left: 20px;
    color: brown;
    margin-bottom: 12px;
}

.navbar-list {
    display: flex;
    list-style: none;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

.navbar-item {
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
    color: white;
}

.here {
    font-size: 20px;
}

.navbar-item:hover {
    background-color: red;
    cursor: pointer;

}

.here:hover {
    background-color: black;
}

main {
}

.home-banner {
    overflow: hidden;
    position: relative;
}

.home-banner_list-btn {
    position: absolute;
    width: 100%;
    height: 400px;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

.home-banner_btn {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.home-banner_btn:first-child {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
}

.home-banner_btn:last-child {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 0;
}

.home-banner_btn:first-child:hover,
.home-banner_btn:last-child:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s linear;
}


.home-banner_btn div {
    font-size: 30px;
    font-weight: 600;
    color: red;
}

.home-banner_list {
    width: 300%;
    height: 400px;
    display: flex;
    transition: all 0.5s linear;
    /* transform: translateX(0px); */
}

.home-banner_img {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-top: 20px;
    row-gap: 20px;
}

.home-product-item {
    border: 1px solid var(--border-color);
    text-decoration: none;
    color: black;
}

.home-banner_list-sl {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* background-color: red; */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner_sl {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.home-banner_sl-x {
    background-color: var(--border-color);
}

.home-product-item_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.home-product-item_price {
    font-size: 20px;
    margin-left: 12px;
    margin-top: 12px;
}

.home-product-item_name {
    margin: 12px 0 12px 12px;

}

.sidebar-item {
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
}

.auth-form {
    padding: 0 20px 20px;
}

.sidebar_header {
    background-color: var(--sidebar-header-color);
    padding: 0 20px;
    line-height: 40px;
    border-bottom: 1px solid var(--border-color);
    font-size: 20px;
}

.auth-form_box {
    margin-top: 16px;
}

.auth-form_text {
    margin-bottom: 4px;
}

.auth-form_input {
    padding: 4px 12px;
    width: 100%;
}

.auth-form_savetext {
    display: inline-block;
}

.auth-form_save,
.auth-form_savetext {
    margin-top: 12px;
}

.auth-form_btn {
    display: block;
    font-size: 16px;
    padding: 2px 8px;
    margin-top: 12px;
}

.auth-form-list_help {
    padding: 0 20px;
    margin-top: 12px;
    display: grid;
    row-gap: 8px;
}

.auth-form_help a {
    text-decoration: none;
    color: var(--blue-color);
}

.danhmuc-list {
    display: grid;
    grid-template-columns: 1fr;

}

.danhmuc-item {
    padding: 8px 20px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid var(--border-color);
}

.danhmuc-item:last-child {
    border: 0px;
}

.timkiem-input {
    border-top: 1px solid var(--border-color);
    background-color: var(--sidebar-header-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.timkiem-input input {
    margin: 8px 0;
    width: 80%;
    padding: 8px 8px;
    border: 1px solid var(--border-color);
}

.toplike-list {
    margin: 12px 0;
    padding: 0 20px;
    display: grid;
    row-gap: 4px;
}

.toplike-item {
    display: flex;
    text-decoration: none;

}

.toplike-item_img {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
    border: 1px solid var(--border-color);

}

.admin-header {
    background-color: var(--header-admin-color);
    color: rgb(0, 134, 89);
    margin-top: 12px;
    font-size: 20px;
    padding: 20px;
}

.toplike-item_name {
    color: var(--blue-color);
}

.form-loaihang {
    margin-top: 12px;
}

.form-loaihang-box {
    margin-bottom: 12px;
}

.form-loaihang-text {
    font-weight: 600;
}

.form-loaihang-input {
    width: 100%;
    padding: 6px 12px;
    margin-top: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.form-loaihang-btns {
    display: flex;
    column-gap: 8px;
}

.form-loaihang-btn {
    line-height: 16px;
    padding: 4px 8px;
    background-color: white;
    border: 1px solid var(--border-color);
    font-size: 16px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
}

.list-loaihang-table {
    margin-top: 20px;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 12px;
}

.list-loaihang-table th {
    text-align: left;
    background-color: var(--header-admin-color);
    line-height: 36px;
}

.list-loaihang-table td {
    border-bottom: 1px solid var(--border-color);
    line-height: 40px;
}

.list-loaihang-table td input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}